
/bin/
/.bundle/

/drupal_root/drush/contrib/
/drupal_root/drush/drushrc.local.php

/drupal_root/core/

/drupal_root/profiles/contrib/

/drupal_root/profiles/*/libraries/
/drupal_root/profiles/*/modules/contrib/
/drupal_root/profiles/*/modules/custom/**/*.css
/drupal_root/profiles/*/themes/contrib/
/drupal_root/profiles/*/themes/custom/**/*.css

/drupal_root/sites/*/files/
/drupal_root/sites/*/services.local.yml
/drupal_root/sites/*/settings.local.php
/drupal_root/sites/simpletest/
/drupal_root/sites/sites.php

/drupal_root/libraries/
/drupal_root/modules/contrib/
/drupal_root/modules/custom/**/*.css
/drupal_root/themes/contrib/
/drupal_root/themes/custom/**/*.css

/public_html/

/node_modules/

/release/
/reports/

/sites/*/private/
/sites/*/temporary/
/sites/*/hash_salt.txt

/sites/all/translations/*.po
!/sites/all/translations/.htaccess

/vendor/

/.git-hooks.local
/ProjectConfig.local.php
